<!DOCTYPE html>
<html>
    <head>
            
        <body>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <meta charset="utf-8">
            <link rel="stylesheet" href= "Style.css">
            
            <p class = "bean">Here is your QR Code!</p>
            <br>
            <div class="img-image"></div>
            <br>
            <a href="index.html"><button class="b1" type="button">Back</button></a>
            <a href = "image.jpg" ><button class="b2" type="button"> Download QR code</button></a>
            <div class="img-bgPic"></div>
        </body>
    </head>

</html>